body{
  background-color: black;
}

h1{
  color: white;
}

div{
  text-align: center;
}

button{
  height: 2.2rem;
  width: 5.5rem;
  border: none;
  color: white;
}

button:haver{
  cursor: pointer;
}

.start-btn{
  background-color: green;
}

.pause-btn{
  background-color: grey;
}

.stop-btn{
  background-color: red;
}